@use "../global" as *;

.c-button-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: rem(96);
  margin-left: auto;
  padding-top: rem(8);
  padding-right: rem(10);
  padding-bottom: rem(8);
  padding-left: rem(12);
  color: #000;
  font-size: rem(12);
  font-weight: $bold;
  line-height: 1;
  border: 1px solid #000;

  @include mq(md) {
    width: rem(122);
    padding-top: rem(9.25);
    padding-right: rem(12);
    padding-bottom: rem(9.25);
    padding-left: rem(16);
    font-size: rem(13.5);
  }

}

.c-button-list__arrow {
  display: block;
  width: rem(24);
  height: rem(8);
  margin-left: rem(12);
  color: inherit;
  background-color: currentColor;
  -webkit-mask: url("../images/common/arrow-right.svg") center / contain no-repeat;
  mask: url("../images/common/arrow-right.svg") center / contain no-repeat;

  @include mq(md) {
    width: rem(29);
    height: rem(10);
  }
}
