@use "../global" as *;

.p-all {
  padding-top: rem(80);
  padding-bottom: rem(100);
  overflow-x: clip;
  @include mq("md") {
    padding-top: rem(120);
    padding-bottom: rem(180);
  }
}

.p-all__content {
  @include mq("md") {
    display: flex;
    align-items: center;
  }
}

.p-all__image {
  width: 82%;
  aspect-ratio: 550 / 472;
  overflow: hidden;
  margin-left: calc(50% - 50vw);

  @include mq("md") {
    width: 24vw;
    flex: 0 0 auto;
  }
}

.p-all__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-all__text {
  margin-top: rem(42);
  color: #000;
  font-size: rem(16);
  font-weight: $bold;
  letter-spacing: 0.28em;
  line-height: 1.9;


  @include mq("md") {
    margin-top: initial;
    width: 100%;
    margin-left: rem(150);
    font-size: rem(21);
    text-align: center;
  }
}
