@use "../global" as *;

.p-all {
  padding-top: rem(80);
  padding-bottom: rem(100);
  overflow-x: clip;
  @include mq("md") {
    padding-top: rem(120);
    padding-bottom: rem(180);
  }
}

.p-all__content {
  display: flex;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
    align-items: center;
  }
}

.p-all__image {
  width: 60vw;
  aspect-ratio: 550 / 472;
  overflow: hidden;
  margin-top: rem(112);
  margin-left: calc(50% - 50vw);

  @include mq("md") {
    order: 1;
    width: 24vw;
    flex: 0 0 auto;
    margin-top: 0;
  }
}

.p-all__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-all__text {
  color: #000;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.1em;

  @include mq("md") {
    letter-spacing: 0.28em;
    order: 2;
    margin-top: initial;
    width: 100%;
    margin-left: rem(150);
    font-size: rem(21);
    text-align: center;
  }
}
