@use "../global" as *;

.p-banner {
  margin-top: rem(48);

  @include mq(md) {
    margin-top: rem(240);
  }
}

.p-banner--archive {
  @include mq(md) {
    margin-top: rem(134);
  }
}

.p-banner__link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.p-banner__image {
  aspect-ratio: 1100 / 449;
  overflow: hidden;
}

.p-banner__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
