@use "../global" as *;

.p-contact {
  padding-top: rem(150);
  padding-bottom: rem(125);
  color: #000;
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: rem(180);
  }
}

.p-contact__content {
  max-width: rem(750);
  margin-inline: auto;
}

.p-contact__title {
  font-family: $second-font-family;
  font-weight: $bold;
  letter-spacing: 0.1em;
  font-size: rem(30);

  @include mq(md) {
    font-size: rem(109);
  }
}

.p-contact__subtitle {
  font-size: rem(21);
  font-weight: $bold;
  letter-spacing: 0.1em;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(38);
  }
}


.p-contact__lead {
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.65;

  @include mq(md) {
    font-size: rem(14);
  }
}
.p-contact__intro {
  font-size: rem(12);
  letter-spacing: 0.1em;
  margin-top: rem(56);
  font-weight: 700;
  line-height: calc(25 / 14);
  @include mq(md){
    margin-top: rem(16);
    font-size: rem(14);
  }
}

.p-contact__form {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(200);
  }
}

.p-contact .wpcf7-not-valid-tip {
  margin-top: rem(6);
  color: #c00;
  font-size: rem(16);
}

.p-contact .wpcf7-response-output {
  margin: rem(20) 0 0;
  padding: rem(10);
  font-size: rem(18);
}

.p-contact__home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(180);
  min-height: rem(44);
  margin-top: rem(65);
  color: #fff;
  font-size: rem(16);
  font-weight: $bold;
  background: #000;

  @media (hover: hover) and (pointer: fine) {
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      color: #000;
      background: #fff;
    }
  }
}
