@use "../global" as *;

.p-map {
  padding-top: rem(60);
  overflow-x: clip;

}


.p-map__content {}

.p-map__top {
  @include mq(md){
    display: flex;
    align-items: center;
    gap: rem(180);

  }
}

.p-map__img {
  overflow: hidden;
    aspect-ratio: 589 / 431;
    max-width: rem(294);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(48);

  @include mq(md){
    max-width: initial;
    margin-top: initial;
    margin-left: initial;
    margin-right: initial;
    aspect-ratio: 960 / 527;
    margin-right: calc(50% - 50vw);
    width: 100vw;
  }

}

.p-map__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-map__access {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(20);
  }
}

.p-map__office {
  max-width: rem(440);
}

.p-map__office-en,
.p-map__office-ja,
.p-map__address,
.p-map__route-title,
.p-map__route-en,
.p-map__route-text {
  color: #000;
  font-weight: $bold;
}

.p-map__office-en {
  font-family: $second-font-family;
  font-size: rem(21);
  line-height: 1.3;
  letter-spacing: 0.1em;

  @include mq("md") {
    font-size: rem(36);
  }
}

.p-map__office-ja {
  margin-top: rem(4);
  font-size: rem(24);
  line-height: 1.4;

  @include mq("md") {
    font-size: rem(45);
  }
}

.p-map__address {
  margin-top: rem(14);
  padding-bottom: rem(6);
  border-bottom: 1px solid #000;
  font-size: rem(14);
  line-height: 1.6;
  letter-spacing: 0.1em;
}

.p-map__access-body {
  display: flex;
  flex-direction: column;
  margin-top: rem(52);

  @include mq("md") {
    flex-direction: row;
    align-items: flex-end;
    gap: rem(70);
    margin-top: rem(84);
  }
}

.p-map__map {
  order: 2;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  max-width: rem(480);
  width: 100%;
  margin-top: rem(52);

  @include mq("md") {
    order: initial;
    margin-top: 0;
  }
}

.p-map__map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

.p-map__routes {
  order: 1;

  @include mq("md") {
    order: initial;
    margin-top: 0;
  }
}

.p-map__route + .p-map__route {
  margin-top: rem(56);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.p-map__route-title {
  font-size: rem(19);
  line-height: 1.45;
  letter-spacing: 0.08em;

  @include mq("md") {
    font-size: rem(26);
  }
}

.p-map__route-en {
  margin-top: rem(3);
  font-family: $second-font-family;
  font-size: rem(16);
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.p-map__route-text {
  font-size: rem(14);
  letter-spacing: 0.1em;
  margin-top: rem(16);
  line-height: calc(25 / 14);
  @include mq(md){

    margin-top: rem(24);
    line-height: calc(48 / 18);
  }
}
