@use "../global" as *;

.p-modular-home {
  padding-top: rem(58);
  padding-bottom: rem(110);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(150);
    padding-bottom: rem(190);
  }
}

.p-modular-home__content {
  display: grid;
  margin-top: rem(32);

  @include mq(md) {
    display: flex;
    align-items: flex-end;
    margin-top: rem(90);
  }
}

.p-modular-home__copy {
  display: contents;

  @include mq(md) {
    display: block;
    width: rem(410);
    flex: 0 0 auto;
    padding-bottom: rem(4);
  }
}

.p-modular-home__lead {
  order: 2;
  margin-top: rem(38);
  color: #000;
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.7;

  @include mq(md) {
    margin-top: 0;
    font-size: rem(26);
  }
}

.p-modular-home__text {
  order: 3;
  margin-top: rem(26);
  color: #000;
  font-size: rem(14);
  font-weight: $bold;
  line-height: calc(25 / 14);
  letter-spacing: 0.1em;

  @include mq(md) {
    line-height: 2.2;
    order: initial;
    margin-top: rem(34);
    font-size: rem(13);
  }
}

.p-modular-home__image {
  order: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  @include mq(md) {
    order: initial;
    width: auto;
    aspect-ratio: 696 / 565;
    flex: 1;
    margin-top: 0;
    margin-left: rem(80);
  }
}

.p-modular-home__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
