@use "../global" as *;

.p-message {
  padding-top: rem(120);
  padding-bottom: rem(64);

  @include mq("md") {
    padding-top: rem(320);
    padding-bottom: rem(80);
  }
}

.p-message__block+.p-message__block {
  margin-top: rem(136);
  @include mq(md) {
    margin-top: rem(320);
  }
}


.p-message__row {
  display: flex;
  flex-direction: column;
  margin-top: rem(80);

  @include mq("md") {
    flex-direction: row;
    gap: rem(90);
    align-items: flex-end;
    margin-top: rem(150);
  }
}

.p-message__body {
  margin-top: rem(40);

  @include mq(md) {
    max-width: rem(504);
    width: 100%;
    margin-top: 0;
  }
}

.p-message__block:nth-child(even) .p-message__row {
  @include mq("md") {
    flex-direction: row-reverse;
  }
}

.p-message__title {
  color: #000;
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.75;
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(26);
  }
}

.p-message__text {
  margin-top: rem(32);
  color: #000;
  font-size: rem(14);
  font-weight: $bold;
  line-height: calc(28 /14);
  letter-spacing: 0.1em;

  @include mq("md") {
    margin-top: rem(48);
    font-size: rem(14);
    line-height: 2.45;
  }
}

.p-message__text br {
  @include mq("md") {
    display: none;
  }

  @include mq("lg") {
    display: block;
  }
}

.p-message__image {
  aspect-ratio: 1 / 1;
  order: -1;
  overflow: hidden;
  width: 100%;
  max-width: rem(200);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    max-width: rem(450);
    margin-right: initial;
    order: initial;
  }
}

.p-message__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
