@use "../global" as *;

.p-top-project {
  padding-top: rem(72);
  padding-bottom: rem(70);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(300);
    padding-bottom: rem(200);
  }
}

.p-top-project__content {
  max-width: rem(350);
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    max-width: rem(830);
  }
}

.p-top-project__detail {
  position: relative;
}
.p-top-project__detail::before {
  @include mq(md){
      position: absolute;
        content: '';
        background: #000;
        width: 50vw;
        height: 1px;
        top: 50%;
        transform: translateY(-50%);
        right: calc(50% - 50vw);
      
    }
}

.p-top-project__title {
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: $second-font-family;
  color: #000;

  @include mq(md) {
    font-size: rem(36);
  }
}

.p-top-project__en {
  position: relative;
  display: flex;
  align-items: center;
  font-size: rem(18);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: $second-font-family;
  color: #000;

  @include mq(md) {
    display: block;
    font-size: rem(32);
  }
}

.p-top-project__en::after {
  content: "";
  flex: 1;
  height: 1px;
  margin-left: rem(8);
  background: #000;

  @include mq(md) {
    content: none;
  }
}

.p-top-project__slider {
  margin-top: rem(22);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-top-project__img {
  aspect-ratio: 1080 / 650;
  display: block;
}

.p-top-project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-top-project__more {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: rem(36);
}

.p-top-project__more::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #000;

  @include mq(md) {
    margin-left: calc(50% - 50vw);
  }
}

.p-top-project__more-link {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: $bold;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: rem(4);
  width: rem(100);
  height: rem(24);
  font-size: rem(10);

  @include mq(md) {
    font-size: rem(27);
    width: rem(300);
    height: rem(72);
  }
}
.p-top-project__pager {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  max-width: rem(1050);
  left: 50%;
  transform: translateX(-50%);
  padding-left: rem(15);
  padding-right: rem(15);
  top: 35%;
  @include mq(md){
    top: 50%;
    padding-left: rem(25);
    padding-right: rem(25);
    
  }

}

.swiper-button-prev,
.swiper-button-next {
  width: rem(26);
  height: rem(26);
  @include mq(md){
    width: rem(40);
    height: rem(40);
    
  }

}

.p-top-project__swiper-button {

}

.swiper-button-next {

}

.p-top-project__swiper-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-top-project__text {
  font-weight: $bold;
  line-height: calc(42 /24);
  letter-spacing: 0.1em;
  color: #000;
  font-size: rem(14);
  margin-top: rem(16);
  @include mq(md){
    font-size: rem(18);
    margin-top: rem(36);
    
  }
}
