@use "../global" as *;

.p-top-gallery {
  overflow-x: clip;
  @include mq(md){
    padding-top: rem(130);
    
  }
}

.p-top-gallery__top-img {
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 530 / 530;
  max-width: rem(170);
  @include mq(md){
    max-width: rem(270);
    margin-right: initial;
  }
}
.p-top-gallery__top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-gallery__top-img2 {
  position: relative;
  z-index: 1;
  aspect-ratio: 1080 / 530;
  width: 100%;
  margin-top: rem(72);
  margin-left: auto;
  margin-right: auto;
  @include mq(md){
    margin-top: initial;
    margin-right: initial;
    width: 52vw;
    margin-left: calc(50% - 50vw);
    
  }
}
.p-top-gallery__top-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
